{% extends "%s/base.html" % lang %}

{% block methodology_stat_1 %}16,9&nbsp;M{% endblock %}
{% block methodology_stat_2 %}82,61&nbsp;To{% endblock %}
{% block total_websites %}près de 8,4 millions{% endblock %}
{% block dataset %}juin 2024{% endblock %}

{% block foreword %}
  <p>
    On a l'impression que beaucoup de choses ont changé dans le monde au cours des deux dernières années. Certains changements sont négatifs, comme la montée des conflits régionaux et les tensions globales qu'ils engendrent. D'autres changements, en revanche, sont positifs, comme le fait d'avoir en grande partie surmonté la pandémie de COVID-19 et les progrès importants dans la production d'énergie durable.
  </p>

  <p>
    Dans presque tous les recoins de la planète, le web contribue probablement à améliorer votre qualité de vie d'une manière ou d'une autre. Mais le web s'est-il vraiment amélioré ces dernières années ? Et que devrions-nous penser de son état actuel ?
  </p>

  <p>
    Le Web Almanac 2024 est là pour vous fournir des données afin de répondre à cette question. Après une pause en 2023, une équipe de chercheurs passionnés s'est mobilisée cette année pour analyser des aspects importants du web moderne en s'appuyant sur des données. Comme la plupart des technologies, le web devient de plus en plus complexe avec le temps, et le Web Almanac nous aide à y voir plus clair, notamment avec un nouveau chapitre consacré aux cookies cette année.
  </p>

{# TODO - translate #}<div lang="en">

  <p>
    This year marks a significant step in evolving the Web Almanac towards a more community-driven project, inspired by the organizational models of academic conferences. Previously maintained by the dedicated HTTP Archive team, the 2024 Almanac introduces a formal organizing committee to foster broader collaboration and inclusivity. Key roles, such as General Chair, Program Committee Chair, and Event Chair, have been established to streamline responsibilities and encourage participation from diverse contributors. This distributed leadership structure is designed to make the Web Almanac more community-driven, which in turn aims to enhance its sustainability by inviting a wider range of voices and perspectives, making the Web Almanac a more collaborative resource for the web community. We hope that this shift towards a community-driven model will strengthen the Web Almanac’s foundation and lead to many future editions.
  </p>

  <p>
    It’s been great to experience the motivation and inclusion from the community—spanning young doctoral researchers to senior experts worldwide. We sincerely thank each of our contributors; it is their hard work that makes this open-source project possible.
  </p>

  <p>
    As an engine of prosperity, it’s important that we understand what’s working well on the web and where it needs more support. We encourage you to explore, debate, and share the details in the 2024 Web Almanac so it can better serve us all. We are all in this together.
  </p>

  <p>
    <em>
      —<a href="{{ url_for('contributors', year=year, lang=lang, _anchor='nrllh') }}">Nurullah Demir</a>, 2024 Web Almanac General Co-Chair<br>
      —<a href="{{ url_for('contributors', year=year, lang=lang, _anchor='cqueern') }}">Caleb Queern</a>, 2024 Web Almanac General Co-Chair
    </em>
  </p>
</div>
{% endblock %}
